.productHighlightText {
    position: absolute;
    z-index: 3;
    background: #e22405;
    border-radius: 14px;
    padding: 4px;
    width: 45%;
    color: #fff;
    left: 1px;

    
    
}



@media only screen and (max-width:1210px){
    .productHighlightText {
        padding: 7px;
    }
}

@media only screen and (max-width:1024px){
    .productHighlightText {
        font-size: small;
    }
}




